<?xml version="1.0"?>
<!--
/**
 * Copyright © Ashokdubariya. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API Preferences -->
    <preference for="Ashokdubariya\Testimonial\Api\Data\TestimonialInterface" type="Ashokdubariya\Testimonial\Model\Testimonial"/>
    <preference for="Ashokdubariya\Testimonial\Api\Data\TestimonialSearchResultsInterface" type="Ashokdubariya\Testimonial\Model\TestimonialSearchResults"/>
    <preference for="Ashokdubariya\Testimonial\Api\TestimonialRepositoryInterface" type="Ashokdubariya\Testimonial\Model\TestimonialRepository"/>
    
    <!-- Virtual Types for Collection Processor -->
    <virtualType name="Ashokdubariya\Testimonial\Model\ResourceModel\Testimonial\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ashokdubariya_testimonial</argument>
            <argument name="resourceModel" xsi:type="string">Ashokdubariya\Testimonial\Model\ResourceModel\Testimonial</argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="testimonial_listing_data_source" xsi:type="string">Ashokdubariya\Testimonial\Model\ResourceModel\Testimonial\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
